* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #C1FF66;
    transition: color 0.5s;
}

a:hover {
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 3vh;
    width: 100%;
    height: 100%;
    user-select: none;
    word-break: keep-all;
}

html {
    background: #86B146;
}

body {
    background: radial-gradient(circle, transparent 20%, #00000080 100%), linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%), #86B146;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > div {
    margin: 1vh 0;
}

#headline {
    font-weight: bold;
    font-size: 6vh;
}

#subtitle {
    font-size: 3vh;
    opacity: 0.85;
}

#counter:empty {
    visibility: hidden;
}

#counter {
    font-weight: bold;
}

#counter::before {
    content: "Converted Setlists: ";
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    min-width: 65vw;
}

#input {
    font-size: 3vh;
    padding: 2vh;
    width: 100%;
}

#input.hide {
    display: none;
}

#options {
    text-align: left;
    width: fit-content;
}

#options.hide {
    display: none;
}

#options > input {
    width: 2vmin;
    height: 2vmin;
}

#submit {
    font-size: 3vh;
    padding: 2vh;
    width: fit-content;
}

#submit.hide {
    display: none;
}

#format-info {
    opacity: 0.65;
    font-size: 2vh;
}

#format-info.hide {
    display: none;
}

#format-info-example {
    font-family: Consolas, monospace;
}

#spinner {
    display: none;
}

#spinner.show {
    display: inline-block;
    border: 0.3vh solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotating 1s linear infinite;
    width: 3vh;
    height: 3vh;
}

#playlist-embed {
    width: 100%;
}


footer > div {
    margin: 1vh 0;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}