* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #C1FF66;
    transition: color 0.5s;
}

a:hover {
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    width: 100%;
    height: 100%;
    user-select: none;
    word-break: keep-all;
}

html {
    background: #86B146;
}

body {
    padding: 2em;
    overflow-x: hidden;
    overflow-y: auto;
}

#background {
    background: radial-gradient(circle, transparent 20%, #00000080 100%), linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%), #86B146;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4em;
    min-width: 100%;
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#headline {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0 0.5em;
    font-weight: bold;
    font-size: 300%;
    margin-bottom: 0.25em;
}

#counter:empty {
    opacity: 0;
}

#counter {
    font-size: 200%;
    font-weight: bold;
    transition: opacity 1s;
    transition-delay: 1s;
}

#counter::before {
    content: "Converted Setlists: ";
}

#external-links {
    font-weight: initial;
    font-size: 150%;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-width: 65%;
    max-width: 65%;
}

#input {
    font-size: 200%;
    padding: 0.5em;
    width: 100%;
}

#input.hide {
    display: none;
}

#options {
    text-align: center;
    width: fit-content;
    display: flex;
    gap: 0.5em 1.5em;
    flex-wrap: wrap;
    font-size: 175%;
    justify-content: center;
    flex-direction: row;
}

#detailed-options {
    width: 100%;
    opacity: 0.5;
    font-size: 75%;
    cursor: pointer;
    transition: opacity 0.5s;
}

#detailed-options:hover {
    opacity: 1;
}

#detailed-options.hide {
    display: none;
}

#options.detailed {
    text-align: left;
    justify-content: space-around;
    flex-direction: column;
    max-width: 65%;
}

#options.hide {
    display: none;
}

#options input {
    width: 2em;
    height: 2em;
}

#options.detailed > div[title]:not([title=""])::after {
    content: attr(title);
    display: block;
    font-size: 50%;
}

#submit {
    font-size: 200%;
    padding: 0.5em;
    width: fit-content;
}

#submit.hide {
    display: none;
}

#format-info {
    opacity: 0.65;
    font-size: 100%;
}

#format-info.hide {
    display: none;
}

#format-info-example {
    font-family: Consolas, monospace;
}

#spinner {
    display: none;
}

#spinner.show {
    display: inline-block;
    border: 0.2em solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotating 1s linear infinite;
    width: 2em;
    height: 2em;
}

#playlist-embed {
    width: 100%;
}

#playlist-embed > div:first-child {
    font-style: italic;
    margin-bottom: 1em;
    opacity: 0.65;
}

#missed-songs {
    display: none;
    flex-direction: column;
    align-items: start;
    font-size: 125%;
}

#missed-songs::before {
    content: attr(data-header-text);
    font-size: 125%;
    font-weight: bold;
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
}

#missed-songs.show {
    display: initial;
}

#missed-songs td {
    padding: 0 0.25em;
}

#missed-songs .missed-song-index {
    font-weight: bold;
    text-align: right;
}

#missed-songs .missed-song-name {
    text-align: left;
}

#missed-songs .missed-song-name {
    user-select: text;
}

footer {
    font-size: 100%;
}

footer > div {
    margin: 0.25em 0;
}

#kofi-button {
    margin-top: 1em;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-aspect-ratio: 3/2), (min-aspect-ratio: 5/2) {
    body {
        overflow: auto;
        font-size: 0.75em;
        padding: 1em;
    }

    #content {
        justify-content: start;
        gap: 3em;
    }

    #main {
        width: 100%;
        max-width: 100%;
    }

    #input {
        font-size: 150%;
    }

    #options {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    #options.detailed > div[title]:not([title=""])::after {
        font-size: 65%;
    }

    #kofi-button {
        padding-bottom: 3em;
    }
}