<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
  <title>setlist.fm to Spotify</title>

  <script th:src="@{'/converter.js?' + ${bootTime}}" type="module"></script>
  <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
  <script type='text/javascript' src="https://storage.ko-fi.com/cdn/widget/Widget_2.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" th:href="@{'/converter.css?' + ${bootTime}}"/>

  <link rel="icon" href="favicon.png" type="image/x-icon">

  <meta charset="utf-8">
  <meta name="title" content="setlist.fm to Spotify" />
  <meta name="description" content="Convert any setlist from setlist.fm into a Spotify playlist within seconds!" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://setlistfm.selbi.club/" />
  <meta property="og:title" content="setlist.fm to Spotify" />
  <meta property="og:description" content="Convert any setlist from setlist.fm into a Spotify playlist within seconds!" />
  <meta property="twitter:url" content="https://setlistfm.selbi.club/" />
  <meta property="twitter:title" content="setlist.fm to Spotify" />
  <meta property="twitter:description" content="Convert any setlist from setlist.fm into a Spotify playlist within seconds!" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4VY3DTLHVH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4VY3DTLHVH');
  </script>
</head>
<body>
  <div id="background"></div>
  <div id="content">
    <header>
      <div id="headline">
        <a href="https://www.setlist.fm/"><img src="setlistfm-logo.png" alt="setlist.fm"></a>
        <a href="/"> to </a>
        <a href="https://spotify.com"><img src="spotify-logo.png" alt="Spotify"></a>
      </div>
      <div id="external-links">
        <a href="https://open.spotify.com/user/31daa4vc625d7o3ldksnjnjafwxe" title="All playlists will be made publicly available on this Spotify profile">Spotify Profile</a>
        &bull;
        <a href="https://github.com/Selbi182/SetlistFmToSpotifyPlaylist" title="For more information, check out the GitHub page">GitHub</a>
        &bull;
        <a href="https://www.setlist.fm/forum/music/other-music-stuff/setlistfm-to-spotify-playlist-converter-7bd72e68" title="Forum topic on the setlist.fm forums, for direct feedback">Forum</a>
        &bull;
        <a href="https://greasyfork.org/de/scripts/476640-setlist-fm-to-spotify-playlist-one-click-button" title="A userscript to convert setlists in one click (requires a UserScript browser addon, such as ViolentMonkey)">One&#8209;Click&nbsp;UserScript</a>
      </div>
      <a id="counter" href="https://open.spotify.com/user/31daa4vc625d7o3ldksnjnjafwxe/playlists" th:text="${playlistCount}"></a>
    </header>
    <div id="main">
      <input id="input" placeholder="Copy-paste a valid setlist.fm URL..." autocomplete="off">
      <div id="options">
        <div id="detailed-options">Click here to explain these settings...</div>
        <div title="Whether to include songs tagged as @Tape (the grayed-out songs in setlists), including songs played from tape that are by other artists.">
          <input type="checkbox" id="tapes" name="tapes" checked>
          <label for="tapes">Tapes</label>
        </div>
        <div title="Some artists release official studio versions of covers. Those will always be included if possible. But if an official cover by the band couldn't be found, the original song by the original artist will be used instead of simply leaving a blank in the playlist. If you don't want that, disable this option.">
          <input type="checkbox" id="covers" name="covers" checked>
          <label for="covers">Cover Originals</label>
        </div>
        <div title="If enabled, songs that are separated by ' / ' (space-slash-space) will be split and all added as individual songs to the playlist. Otherwise, the entire medley will be excluded.">
          <input type="checkbox" id="medleys" name="medleys" checked>
          <label for="medleys">Medleys</label>
        </div>
        <div title="Dictates which search logic should be used internally. If disabled, it's simply the track title and the artist name of each individual song. Otherwise it follows the syntax 'track:NAME artist:NAME'. This prevents accidental additions by unrelated artists, but it struggles with songs that tend to have a lot of special characters. Consider disabling only if you get too many song misses.">
          <input type="checkbox" id="strict-search" name="strict-search" checked>
          <label for="strict-search">Strict Search</label>
        </div>
      </div>
      <button id="submit" disabled>Create Playlist</button>
      <div id="format-info">
        <div id="format-info-avg"><b>Average setlists are not and will never be supported!</b><br/>(Not my decision, this is a limitation of the setlist.fm API)</div>
        <div id="format-info-header">A valid URL has the following format:</div>
        <div id="format-info-example">https://www.setlist.fm/setlist/artist/year/venue-city-country-id.html</div>
      </div>
      <div id="spinner"></div>
      <div id="progress-info"></div>
      <div id="playlist-embed"></div>
      <div id="results">
        <a id="direct-link" target="_blank"></a>
        <table id="search-results"></table>
      </div>
    </div>
    <footer>
      <div>This service is neither affiliated with<wbr/> nor endorsed by setlist.fm<sup>&trade;</sup> or Spotify<sup>&reg;</sup></div>
      <a href="https://selbi.club/" target="_blank">&copy; <span id="copyright-year">2023</span> Selbi</a>
      <div id="kofi-button"></div>
    </footer>
  </div>
</body>
</html>